version: '2'
services:
    web:
        image: patriceckhart/docker-ubuntu-apache-php7-ssh
        volumes:
          - ./app:/app
          - ./var_log:/var/log
        ports:
          - "80:80"
          - "2022:22"
        entrypoint: /app/docker_start.sh
